.sidebarconatiner {
    background-color: E1F9F4;
    width: 317px;
}

.logooption {
    display: flex;
    margin-top: 45px;
    margin-left: 107px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #1A1B1C;

}

.navvalue {
    margin-left: 20px;
}

.property {
    color: #2289FF;
}

.sidesubcontainer {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 31px;

}


.sideoption {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

