
.maincontainer{
   
    position: absolute;
left: 0%;
right: -0.31%;
top: 0%;
bottom: 0%;

background: #E1F9F4;


}


.subpart{
    position: absolute;
left: 20%;
right: -0.31%;
top: 0%;
bottom: 0%;
overflow: scroll;
background: #FAFBFC;
}

.sidenav{
   
    justify-content: space-between;
   
 
   
    
}



/* .middle{
    position: absolute;
left: 20%;
right: -0.31%;
top: 11.76%;
bottom: 87.96%;

background: #E1F9F4;
} */